.hero {
  height: 90vh;
  background-image: linear-gradient(
      to right bottom,
      hsla(13, 84%, 25%, 0.6),
      hsla(13, 80%, 74%, 0.6)
    ),
    url(../../assets/images/berlin2.jpg);
  background-size: cover;
  background-position: center;
  background-color: var(--clr-grey-10);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
  margin: 2rem;
}
.hero__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  text-align: center;
  width: 80%;
}
.hero__image-container {
  height: 10.5rem;
  width: 10.5rem;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  margin: 2rem auto;
}
.hero__image {
  position: absolute;
  top: 0.75rem;
  flex-grow: 0;
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
  box-shadow: var(--dark-shadow);
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
}
.heading-primary--main {
  display: block;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1rem;
  margin-bottom: 2rem;
  animation: moveInFromLeft 1s ease-out;
}
.heading-primary--sub {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  animation: moveInFromRight 1s ease-out;
}

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveInFromTop {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-3rem);
  }
}
